.formMain {
  margin-top: 2%;
  input {
    width: 90%;
    background-color: #ffeef1;
    border: none;
  }
  .sendButton {
    width: 50%;
    height: 14%;
    background-color: black;
    color: white;
    margin-left: 50%;
    margin-top: 5%;
    letter-spacing: 0.2rem;
    border: none;
  }
  label {
    display: inline-block;
    letter-spacing: 0.2rem;
  }
  textarea {
    display: block;
    background-color: #ffeef1;
    resize: none;
    border: none;
  }
  .contactTextThree {
    font-size: 0.625rem;
  }
}
