.formMain {
  input {
    width: 90%;
    background-color: #ffeef1;
  }
  .sendButton {
    width: 50%;
    height: 12%;
    background-color: black;
    color: white;
    margin-left: 50%;
    margin-top: 5%;
  }
}
label {
  display: inline-block;
}
textarea {
  display: block;
  background-color: #ffeef1;
}
