header {
  background-color: #f7f5f2;
  min-height: 108px;
  color: #000000;
  line-height: 50%;
  letter-spacing: 0.2rem;
  font-size: 12px;
  .navbar-nav {
    line-height: 14px;
  }
  li {
    padding: 0 1.5rem;
  }
  a.borde::after {
    align-items: center;
    content: "";
    display: block;
    margin: auto;
    padding-top: 10px;
    border-bottom: 1px solid black;
  }
}

/* --------------------------------- Slider --------------------------------- */
.carouselMain {
  width: auto;
  height: 774px;
}
.carousel-indicators {
  left: auto;
  justify-content: auto;
  margin: 0;
  padding: 0;
  flex-direction: column;
  list-style: none;
  right: 0px;
  top: 0%;

  li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
  }
}


.collapseNavBar {


    font-size: 12px;
        ul {
            list-style: none;
            text-align: left;
            }
            
              li {
                margin-top: 10px;

              }
                a {
                  color: #000000;
                  padding: 0 1.5rem;
                    &:hover {
                      text-decoration: none;
                    }
                    &.title {
                      letter-spacing: 0.5rem;
                    }
                  }
            
}

.bread {
  letter-spacing: 0.25rem;
  a {
color: black;
font-size: 12px;
  }
}
