footer {
background-color: #F7F5F2;
font-size: 12px;
min-height: 151px;
align-items: center;
margin-top: auto;
width: 100%;
letter-spacing: 0.2rem;
    ul {
        list-style: none;
        margin:auto;
        }
        a {
            color: #000000;;

            &:hover {
                text-decoration: none;
            }
        }

    img {
        width: 30px;
        height: 30px;
    }
}